﻿@model laboMVC.Models.User

@{

}

@if (ViewBag.Mots != null && ViewBag.Mots.Count > 0)
{
    <h2>@ViewBag.Mots[0]</h2>
}


<form action="@Url.Action("ChangerLangue", "Index")" method="post">
    <button type="submit" name="langue" value="Fr">Français</button>
</form>

<form action="@Url.Action("ChangerLangue", "Index")" method="post">
    <button type="submit" name="langue" value="Ang">English</button>
</form>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>@ViewBag.Mots[1]</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label>@ViewBag.Mots[2]</label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div>
            @if (TempData["error"] != null && (bool)TempData["error"])
            {
                <p class="text-danger">@ViewBag.Mots[3]</p>
            }


        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@ViewBag.Mots[0] class="btn btn-default" />
            </div>
        </div>
    </div>
}
